
 .nav{
    background-color: black;
    color: white;
}

.nav ul li a{
    color: white;
    margin:0;    
    border-top:none;

}

.hero {
    height: 100vh;
    background: url("sea-beauty.jpg");
    background-size: cover;
     text-align: center;
    background-attachment: fixed; 
    background-position: center;
    visibility: visible;
    animation-name: fadeInUp;
    
    
}
.navigation h1{
    color: white;
    text-align: center;
    visibility: visible;
    animation-name: fadeInUp;
    padding-top: 300px;
}

.c-red {
    color: red;
}
.shadowBox {
    padding:2em;
    margin-bottom:2em;
    -webkit-box-shadow:1px 1px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow:1px 1px 21px -4px rgba(0, 0, 0, 0.75)
}
.footer {
    background-color: #2a2730;
    color: white;
}

/* .footer ul li {
    width: 40px;
    height: 40px;
    font-size: 22px;       
    line-height: 40px; 
    margin-right: 10px; 
    border-radius: 20px;
    color: rgb(255, 255, 255);
} */
.footer-base {
    text-align: center;
}


